:root {
    --gray-ligth: #E5E5E5;
    --white: #FFFFFF;
    --gray: #343A40;
    --dark-blue: #0A3871;
    --ligth-blue: #D8DFE8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: var(--gray-ligth);
    padding: 40px;
}

.main-container .encrypt-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Panel izquierdo */

.main-container .encrypt-section .text-real {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.main-container .encrypt-section .text-real .text-container {
    width: 100%;
    height: 80%;
    padding: 30px;
}

.main-container .encrypt-section .text-real .text-container textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 32px;
    color: var(--dark-blue);
    font-family: inherit;
    box-sizing: border-box;
}

.main-container .encrypt-section .text-real .container-buttons {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: center;
}

.main-container .encrypt-section .text-real .container-buttons .text {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
}

.main-container .encrypt-section .text-real .container-buttons .text i {
    color: var(--gray);
    font-size: 16px;
}

.main-container .encrypt-section .text-real .container-buttons .text p {
    color: var(--gray);
    font-size: 12px;
    text-align: start;
    font-weight: 400;
    margin: 0 0px 0 8px;
}

.main-container .encrypt-section .text-real .container-buttons .buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.main-container .encrypt-section .text-real .container-buttons .buttons button {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: solid 1px var(--dark-blue);
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.main-container .encrypt-section .text-real .container-buttons .buttons button:nth-child(1) {
    background-color: var(--dark-blue);
    color: var(--white);
    margin-right: 12px;
}

.main-container .encrypt-section .text-real .container-buttons .buttons button:nth-child(1):hover {
    background-color: var(--ligth-blue);
    color: var(--dark-blue);
}

.main-container .encrypt-section .text-real .container-buttons .buttons button:nth-child(2) {
    background-color: var(--ligth-blue);
    color: var(--dark-blue);
    margin-left: 12px;
}

.main-container .encrypt-section .text-real .container-buttons .buttons button:nth-child(2):hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

/* Panel derecho */

.main-container .encrypt-section .text-encrypt {
    width: 25%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.main-container .encrypt-section .text-encrypt img {
    margin: 0 32px;
    margin-bottom: 16px;
}

.main-container .encrypt-section .text-encrypt h3,
p {
    color: var(--gray);
    margin: 0 32px;
    text-align: center;
}

.main-container .encrypt-section .text-encrypt h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.main-container .encrypt-section .text-encrypt p {
    font-size: 16px;
    font-weight: 400;
    overflow: auto;
    scrollbar-width: none;
    margin: 15px;
}

.main-container .encrypt-section .text-encrypt p::-webkit-scrollbar {
    width: 0;
}

.main-container .encrypt-section .text-encrypt button {
    display: none;
    width: 90%;
    height: 67px;
    border-radius: 24px;
    border: solid 1px var(--dark-blue);
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(--ligth-blue);
    color: var(--dark-blue);
    margin-bottom: 15px;
}

.main-container .encrypt-section .text-encrypt button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}


@media screen and (max-width: 1040px) {

    .main-container {
        padding: 20px;
    }

    .main-container .encrypt-section .text-real {
        width: 65%;
        margin-right: 20px;
    }

    .main-container .encrypt-section .text-real .container-buttons {
        padding-left: 0;
        margin-bottom: 60px;
        align-items: center;
    }

    .main-container .encrypt-section .text-real .container-buttons .buttons button {
        width: 200px;
    }

    .main-container .encrypt-section .text-encrypt {
        width: 35%;
    }


}

@media screen and (max-width: 720px) {

    .main-container {
        padding: 10px;
    }

    .main-container .encrypt-section {
        flex-direction: column;
    }

    .main-container .encrypt-section .text-real {
        width: 100%;
        height: 75%;
        margin-right: 10px;
    }

    .main-container .encrypt-section .text-real .text-container textarea {
        font-size: 24px;
    }

    .main-container .encrypt-section .text-encrypt {
        width: 100%;
        height: 25%;
    }

    .main-container .encrypt-section .text-encrypt img {
        display: none;
    }


}

@media screen and (max-width: 440px) {

    .main-container {
        min-width: 340px;
    }

    .main-container .encrypt-section .text-real {
        height: 70%;
    }

    .main-container .encrypt-section .text-real .container-buttons .buttons {
        flex-direction: column;
    }

    .main-container .encrypt-section .text-real .container-buttons .buttons button {
        width: 328px;
        height: 67px;
    }

    .main-container .encrypt-section .text-real .container-buttons .buttons button:nth-child(1) {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .main-container .encrypt-section .text-real .container-buttons .buttons button:nth-child(2) {
        margin-left: 0;
    }

    .main-container .encrypt-section .text-encrypt {
        height: 30%;
    }


}